*{ 
	padding:0;
	margin:0;
	font-family:"tahoma", arial, sans-serif;

	a{
		text-decoration:none;
		&:hover{text-decoration:underline;}
	}
}




/*				body			*/




body{
	 background: url(../imgs/bg.jpg)no-repeat;

	nav{
		font-weight: normal;
		font-size:22px;
		background: url('../imgs/bar.jpg');
		padding-left: 28px;
		width:100%;
		height:50px;
		box-sizing:border-box;
		li{
			display:inline;
			a{
				display:inline-block;
				padding:11px 10px;
				color:#fff;

				&:hover{text-decoration:none; background:#1d2d60;}
			}
		}
	}


	header{
		background: linear-gradient(to bottom, rgba(200,0,200,.5) 0%,rgba(0,128,255,.8) 100%);
    background: -moz-linear-gradient(bottom, rgba(200,0,200,.5) 0%,rgba(0,128,255,.8) 100%);
    background: -webkit-linear-gradient(bottom, rgba(200,0,200,.5) 0%,rgba(0,128,255,.8) 100%);
		background-size: cover;
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		height:94.7vh;

		.logo img{
			width:97%;
		}
	}

}